body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 700;
  color: #222;
  margin-bottom: 1rem;
  line-height: 1.2;
}

p {
  line-height: 1.6;
  margin-bottom: 15px;
}

ul {
  margin-left: 20px;
}

body {
  background-color: #1A1A1A;
  color: #FFFFFF;
}

body {
  background-color: 1A1A1A;
  colour: #FFFFFF;
}

.navbar {
  background-color: #1F1F1F;
  padding: 15px;
  display: flex;
  gap: 20px;
  border-bottom: 2px solid #D46A1F;
}

.navbar a {
  color: #F2F2F2;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.navbar a:hover {
  color: #F2B632;
}
